<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
</head>

<body>
    <div id="appReceta">
        <h1>Libro de recetas</h1>

        <div style="width: 50%; float: left;">
            <h3>Seleccione una receta</h3>

            <p>
                <input type="text" placeholder="Buscar receta..." v-model="search">
            </p>
            <ul>
                <li v-for="n in 10">
                    <a href="#">Arroz con leche</a>
                </li>
            </ul>

            <button @click="show_add_receta = !show_add_receta">Agregar nueva receta</button>

            <div v-show="show_add_receta">
                <p>
                    <input type="text" placeholder="Id..." v-model="new_receta.id">
                </p>
                <p>
                    <input type="text" placeholder="Nombre..." v-model="new_receta.nombre">
                </p>

                <p><label for="">Descripción</label></p>
                <textarea v-model="new_receta.descripción" cols="30" rows="10"></textarea>

                <p>
                    <input type="text" placeholder="Chef..." v-model="new_receta.chef">
                </p>

                <p>
                    <input type=" text" placeholder="Agregar ingredientes..." v-model="nuevo_ingrediente"
                        @keyup.enter="AgregarIngrediente()">
                </p>

                <ul>
                    <li v-for="n in new_receta.ingredientes">Aqui va el ingrediente</li>
                </ul>

            </div>
        </div>

        <div style="width: 50%; float: right;">
            <h3>Título de la receta</h3>
            <h4>El chef de la receta</h4>
            <h4>Ingredientes:</h4>
            <ul>
                <li v-for="n in 5">ingrediente</li>
            </ul>

            <p style="background: cadetblue;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ex libero
                nostrum temporibus, earum ab reprehenderit aut deleniti facere illum quisquam sint debitis ut obcaecati
                delectus beatae maxime quod ducimus?</p>
        </div>

    </div>


    <!-- Import code vue -->
    <script src="vue2.7.js"></script>
    <script src="recetas.js"></script>
</body>

</html>