<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
</head>

<body>
    <div id="appReceta">
        <h1>Libro de recetas</h1>

        <!-- COLUMN LEFT -->
        <div style="width: 50%; float: left;">
            <h3>Seleccione una receta</h3>

            <p>
                <input type="text" placeholder="Buscar receta..." v-model="search">
            </p>
            <ul>
                <li v-for="receta in lista_recetas_filtrada" :key="receta.id">
                    <a href="#" @click="SeleccionarReceta(receta)">{{receta.nombre}}</a>
                </li>
            </ul>

            <button @click="show_add_receta = !show_add_receta">Agregar nueva receta</button>

            <div v-show="show_add_receta">
                <p>
                    <input type="text" placeholder="Id..." v-model="new_receta.id">
                </p>
                <p>
                    <input type="text" placeholder="Nombre..." v-model="new_receta.nombre">
                </p>

                <p><label for="">Descripción</label></p>
                <textarea v-model="new_receta.descripción" cols="30" rows="10"></textarea>

                <p>
                    <input type="text" placeholder="Chef..." v-model="new_receta.chef">
                </p>

                <p>
                    <input type=" text" placeholder="Agregar ingredientes..." v-model="nuevo_ingrediente"
                        @keyup.enter="AgregarIngrediente()">
                </p>

                <ul>
                    <li v-for="ingrediente in new_receta.ingredientes" :key="ingrediente.id">
                        {{ingrediente.nombre}}
                    </li>
                </ul>
                <p>
                    <button @click="AgregarReceta()">Guardar</button>
                </p>
            </div>
        </div>

        <!-- COLUMN RIGHT -->

        <div style="width: 50%; float: right;" v-if="receta_seleccionada">
            <h3>{{receta_seleccionada.nombre}}</h3>
            <h4>{{receta_seleccionada.chef}}</h4>
            <h4>Ingredientes:</h4>
            <ul>
                <li v-for="ingrediente in receta_seleccionada.ingredientes">{{ingrediente.nombre}}</li>
            </ul>

            <h4>Descripción:</h4>
            <p style="background: #C7E8CA; padding: 10px;">{{receta_seleccionada.descripcion}}</p>
        </div>

    </div>


    <!-- Import code vue -->
    <script src="vue2.7.js"></script>
    <script src="recetas.js"></script>
</body>

</html>